#contenedor {
  background-color: #fafafa;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px; /* Ajusta la distancia del footer desde la parte inferior */
}

.title-container {
  background-color: #f7a817;
  color: rgb(6, 6, 6);
  padding: 25px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 24px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Ajusta las imágenes hacia la parte inferior */
  margin-top: 20px; /* Ajusta el margen superior para centrar las imágenes */
  
}



/* Estilo para que el texto aparezca debajo de la imagen */
.box {
  text-align: center; /* Centra el contenido horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.box img {
  max-width: 5%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto;
  

}

.box-text {
  margin-top: 10px; /* Espacio superior para separar el texto de la imagen */
}

.subtitle {
  font-size: 18px; /* Tamaño del subtítulo */
  margin-top: 12px; /* Ajusta la distancia entre el título y el subtítulo */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7a817;
  color: rgb(6, 6, 6);
  padding: 9px;
} 

footer ion-icon {
  margin: 4%;
  
}

.welcome {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo para reducir el tamaño de los botones */
ion-button {
  width: 150px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Permite que la altura se ajuste automáticamente según el contenido */
  margin-top: 60px;
  
}



